<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Standard HTML-basiertes Journal (jAnrufmonitor)</title>
	<style>
	
* {
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table,td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table
{
	border                :none;
	border                :1px solid #CCC;
}
thead th,
tbody th
{
  color                 : #666;  
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
tbody tr td
{
	padding               : 5px 10px;
  color                 : #666;
  vertical-align: top;
}
tbody tr:hover
{

}

tbody tr:hover td
{
  color                 : #454545;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  color                 : #666;
}
caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #666;
}
table a:visited
{
	color                 : #666;
}
table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
table a:active
{
	color                 : #003366;
}
	</style>
</head>

<body>
<table>
<thead><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>Kontakt</th><th>Rufnummer</th><th>eigene Rufnummer</th></thead>
<tbody>
<!-- start_call: <tr><td><img src="<!-- start_image:%imagepath%%a:status%.gif:end_image-->" /></td><td><!-- start_html_image:60;85;%r:imagebase64%:end_html_image--></td><td>%calltime%</td><td>%a:fn% %a:ln%<br/>%a:str% %a:strno%<br/>%a:pcode% %a:city%<br/>%a:cntry%</td><td>%callernumber%</td><td>%msn% (%msnalias%)</td></tr> :end_call--> 
</tbody>
</table>
<br/>
<img src="<!-- start_image:%imagepath%/jam.jpg:end_image-->" width="20" height="20" align="absmiddle"/> (c) 2010 jAnrufmonitor
</body>
</html>
