.DS_Store
**/*/.DS_Store
**/*/.classpath
**/*/.project
**/*/.externalToolBuilders
.metadata
.metadata/
.metadata/**/*
build/**/*
extlib/**/*
dist/**/*
internal/**/*
docs/**/*
published/**/*
docs/**/*
